name: Type Check

on:
  push:
    branches: ["main", "dev"]
    paths:
      - "myosuite/**/*.py"
  pull_request:
    branches: ["main", "dev"]
    paths:
      - "myosuite/**/*.py"

permissions:
  contents: read

jobs:
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - uses: astral-sh/setup-uv@v4
        with:
          version: "latest"

      - name: Install dependencies
        run: |
          uv venv --python 3.10
          uv pip install -e .
          uv pip install mypy

      - name: Run mypy
        run: uv run mypy myosuite/ || true
